body {
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

.book-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  background-color: white; 
}

.book-list,
.bookshelf ,.bookshelf{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  );
}

.book-card button {
  background-color: #035c0c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.book-card button:hover {
  background-color: #0056b3;
}

input {
  padding: 10px;
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
